.container{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    .login{
        width: 400px;
        height: 400px;
        background-color: white;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .loginTab{
            width: 100%;
            .ant-tabs-nav-wrap{
                justify-content: center;
            }
        }
    }
}
